<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>

    <h1>Welcome to SiFe Engineering Database</h1>

    <div class="button-container">
        <form action="./testimonials.html" method="get">
            <button class="form-btn" type="submit">Testimonials Form</button>
        </form>
        <form action="./galert.html" method="get">
            <button class="form-btn" type="submit">Galert Form</button>
        </form>
        <form action="./feaut.html" method="get">
            <button class="form-btn" type="submit">Feaut Form</button>
        </form>
    </div>

    <footer>
        ©2025 SiFe Engineering | All rights reserved.
    </footer>

</body>
</html>
